<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Home'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    <GridLayout class="page page-content" tkMainContent>
        <Label class="page-icon fa" text="&#xf015;"></Label>
        <Label class="page-placeholder" text=""></Label>
    </GridLayout>
-->
<ScrollView class="page page-content teste-cor" tkMainContent>
    <StackLayout class="inittt" margin="5">
        <StackLayout class="padding-card borda-redonda" nsShadow="2">
            <Label width="95%" height="200" class="page-icon fa teste wallpaper"></Label>
            <Label width="95%" height="50" text="Teste " class="teste description espaco" textWrap="true"></Label>
        </StackLayout>
        <StackLayout class="padding-card borda-redonda" nsShadow="2">
                <Label width="95%" height="200" class="page-icon fa teste wallpaper"></Label>
                <Label width="95%" height="50" text="Teste " class="teste description espaco" textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="padding-card borda-redonda" nsShadow="2">
                    <Label width="95%" height="200" class="page-icon fa teste wallpaper"></Label>
                    <Label width="95%" height="50" text="Teste " class="teste description espaco" textWrap="true"></Label>
                </StackLayout>
                <StackLayout class="padding-card borda-redonda" nsShadow="2">
                        <Label width="95%" height="200" class="page-icon fa teste wallpaper"></Label>
                        <Label width="95%" height="50" text="Teste " class="teste description espaco" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="padding-card borda-redonda" nsShadow="2">
                            <Label width="95%" height="200" class="page-icon fa teste wallpaper"></Label>
                            <Label width="95%" height="50" text="Teste " class="teste description espaco" textWrap="true"></Label>
                        </StackLayout>
    </StackLayout> 

</ScrollView>    

</RadSideDrawer>